body {
background-color: lavender;
width: 100%;
border:5px solid thistle;
box-sizing: border-box;
}

.title {
  font-size: x-large;
  margin-left: 10px;
}

#fluffy {
  height:30px;
  width: 500px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  border-color: grey;
  display: flex;
}

.keyword {
  font-weight: bold;
}

.box {
  height: 400px;
  width: 480px;
  padding: 10px;
  margin: 50px 40px 50px 40px;
  color: #565656;
  background: #ffeaea;
  box-shadow: 0px 0px 0px 10px #ffeaea;
  border: dashed 2px #ffc3c3;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  }
